<div class="p-4">
  <h2>Muscle Usage Tracker</h2>
  <!-- Date Selection and Fetch Button -->
  <div class="grid p-fluid mb-4">
    <div class="col-12 md:col-4">
      <div class="p-field">
        <label for="startDate">Start Date</label>
        <p-calendar inputId="startDate" [(ngModel)]="startDate" [showIcon]="true" dateFormat="yy-mm-dd"
          [maxDate]="maxDate">
        </p-calendar>
      </div>
    </div>
    <div class="col-12 md:col-4">
      <div class="p-field">
        <label for="endDate">End Date</label>
        <p-calendar inputId="endDate" [(ngModel)]="endDate" [showIcon]="true" dateFormat="yy-mm-dd" [maxDate]="maxDate">
        </p-calendar>
      </div>
    </div>
    <div class="col-12 md:col-4 flex align-items-end">
      <p-button label="Fetch Usage" icon="pi pi-search" (click)="fetchMuscleUsage()" [loading]="isLoading"
        styleClass="p-button-raised">
      </p-button>
    </div>
  </div>

  <!-- Fixed Height Container for Loading/Error/Info Messages -->
  

  <!-- Body Highlighters -->
  <div class="flex flex-wrap justify-content-center">
    <!-- Give these divs a fixed width or flex-basis -->
    <div class="m-2" style="width: 250px;"> <!-- Example: Fixed pixel width -->
      <!-- Or use PrimeFlex: <div class="m-2 w-15rem"> -->
      <app-body-highlighter [side]="'front'" [data]="highlightData" [colors]="customColors">
      </app-body-highlighter>
    </div>
    <div class="m-2" style="width: 250px;"> <!-- Example: Fixed pixel width -->
      <!-- Or use PrimeFlex: <div class="m-2 w-15rem"> -->
      <app-body-highlighter [side]="'back'" [data]="highlightData" [colors]="customColors">
      </app-body-highlighter>
    </div>
  </div>
</div>