<div class="animated-gradient-banner p-4 text-center h-screen">
    <h1 class="text-black text-4xl font-bold mb-2">Get stronger one rep at a time. Repzly.</h1>
    <p class="text-black text-2xl font-italic mb-2">Comming soon on the app store...</p>
</div>
<div class="flex md:justify-content-center">
    <div class="flex justify-content-center mt-3 flex-column align-items-center py-5 surface-50 md:w-6 card" pAnimateOnScroll  enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000" leaveClass="animate-leave fade-out-0">
        <h1 class="text-black text-3xl font-bold mb-2">What is Repzly?</h1>
        <div class="flex justify-content-around flex-row flex-wrap">
            <span class="text-black text-2xl text-center py-4 md:w-8 md:mx-0 mx-4">Repzly is your smart workout journal.</span> 
            
            <span class="text-black text-2xl text-center py-4 md:w-8 md:mx-0 mx-4">It takes the guesswork out of your training by providing a seamless and intuitive platform to record every aspect of your exercise sessions. 
                Whether you're just embarking on your fitness journey or are a seasoned athlete looking to fine-tune your performance, 
                Repzly ensures every set, rep, and weight lifted contributes to a clear, trackable path towards your long-term success, eliminating the frustration of forgotten workouts or uncertain progress.</span>
        </div>
    </div>
</div>