<p-toast />
<p-toolbar styleClass="flex surface-50 justify-content-between fixed top-0 right-0 border-noround border-none headercomponent p-2">
  <div class="p-toolbar-group-start flex align-items-center">
    <p-button icon="pi pi-align-justify" styleClass="mr-2 xl:hidden p-button-text p-button-rounded" severity="secondary" (onClick)="sidemenuVisible = true" />
    <p-inputgroup styleClass="w-full md:w-20rem lg:w-25rem">
      <input pInputText placeholder="Search" id="searchBar" #searchInput/>
      <p-inputgroup-addon>
          <p-button icon="pi pi-search" severity="secondary" variant="text" (onClick)="searchPrograms(searchInput.value)"/>
      </p-inputgroup-addon>
    </p-inputgroup>
  </div>
  <div class="p-toolbar-group-end flex align-items-center">
    <p-button icon="pi pi-lightbulb" styleClass="p-button-rounded p-button-text" (click)="toggleTheme()" />
    <p-menubar *ngIf="items != undefined" [model]="items" styleClass="border-none bg-transparent hidden sm:flex" />
    <p-button label="Log in" *ngIf="items == undefined" (click)="showDialog()"/>
    <p-drawer [(visible)]="sidemenuVisible" position="left" styleClass="w-18rem">
      <app-sidebar></app-sidebar>
    </p-drawer>
    <p-dialog maskStyleClass="backdrop-blur-sm" [(visible)]="visible" [modal]="true" class="p-5">
        <ng-template #header>
          <div class="inline-flex items-center justify-center gap-2" *ngIf="isLoginMode">
              <h2 class="font-bold whitespace-nowrap">Sign in</h2>
          </div>
          <div class="inline-flex items-center justify-center gap-2" *ngIf="!isLoginMode">
            <h2 class="font-bold whitespace-nowrap">Sign up</h2>
          </div>
        </ng-template>
          <app-login-form *ngIf="isLoginMode" (modeChanged)="handleModeChange($event)" (errorOccurred)="handleLoginError($event)" (successfullLogin)="handleLoginSuccess($event)"></app-login-form>
          <app-register-form *ngIf="!isLoginMode" (modeChanged)="handleModeChange($event)" (errorOccurred)="handleRegisterError($event)" (successfullRegistration)="handleRegisterSuccess($event)"></app-register-form>
        <ng-template #footer>
          <div class="inline-flex items-center justify-center gap-2">

          </div>
        </ng-template>
  </p-dialog>
    
  </div>
</p-toolbar>