<p-fieldset legend="Edit password" class="w-full">
    <form>
        <div class="flex justify-content-between align-items-center my-4 lg:mx-8 md:mx-4">
            <span class="font-bold text-l">Enter current password:</span>
            <p-password [feedback]="false" [toggleMask]="true" />
        </div>
        <div class="flex justify-content-between align-items-center my-4 lg:mx-8 md:mx-4">
            <span class="font-bold text-l">Enter new password:</span>
            <p-password [feedback]="false" [toggleMask]="true"/>
        </div>
        <div class="flex justify-content-between align-items-center my-4 lg:mx-8 md:mx-4">
            <span class="font-bold text-l">Confirm new password:</span>
            <p-password [feedback]="false" [toggleMask]="true"/>
        </div>
        <div class="flex justify-content-end">
            <p-button class="lg:mx-8 md:mx-4">Confirm changes</p-button>
        </div>
    </form>
</p-fieldset>