<p-toast [position]="toastsPositionService.getPosition()"></p-toast>
<p-fieldset legend="Edit password" class="w-full">
    <form [formGroup]="changePasswordForm" (submit)="sendPasswordChangingRequest()">
        <div class="flex justify-content-between align-items-center my-4 lg:mx-8 md:mx-4">
            <span class="font-bold text-l">Enter current password:</span>
            <p-password [feedback]="false" formControlName="oldPassword" [toggleMask]="true" />
        </div>
        <div class="flex justify-content-between align-items-center my-4 lg:mx-8 md:mx-4">
            <span class="font-bold text-l">Enter new password:</span>
            <p-password [feedback]="false" formControlName="newPassword" [toggleMask]="true" pTooltip="Password must contain minimum eight characters, at least one letter and one numbers"/>
        </div>
        <div class="flex justify-content-between align-items-center my-4 lg:mx-8 md:mx-4">
            <span class="font-bold text-l">Confirm new password:</span>
            <p-password [feedback]="false" formControlName="confirmNewPassword" [toggleMask]="true"/>
        </div>
        <div class="flex justify-content-end">
            <p-button class="lg:mx-8 md:mx-4" [disabled]="!changePasswordForm.valid" [type]="'submit'">Submit changes</p-button>
        </div>
    </form>
</p-fieldset>