<div class="flex justify-content-center w-full absolute left-0 right-0 top-0 md:pt-5 md:pb-2 mode-aware-div z-1 bg-gray-300">
    
    <img src="placeholder-pfp.jpg" class="border-circle w-7rem h-7rem m-2 bg-primary font-bold flex align-items-center justify-content-center mt-8 border-1">
</div>
<div class="username flex justify-content-center">
    <h1 class="text-5xl">&#64;{{username}}</h1>
</div>
<div class="flex justify-content-around section-container">
    <app-personal-information-section class="w-full md:mx-3">

    </app-personal-information-section>
    <app-change-password-section class="w-full md:mx-3 md:my-0 my-3">>

    </app-change-password-section>
</div>