@media (max-width:768px) {
    .section-container {
        padding-top: 15px;
        padding-bottom: 15px;
        flex-wrap: wrap;
    }
}

@media (min-width:768px) {
    .section-container {
        flex-wrap: nowrap;
    }
}