.sidebar-fixed {
    position: fixed;
    height: 100vh;
    z-index: 1000;
}

.main-content {
    margin-top: 4rem;
    padding: 1rem;
    transition: all 0.3s ease;
}

/* Small screens */
@media screen and (max-width: 576px) {
    .main-content {
        margin-left: 0;
        margin-right: 0;
        margin-top: 4rem;
    }
}

/* Medium screens */
@media screen and (min-width: 577px) and (max-width: 991px) {
    .main-content {
        margin-left: 0;
        margin-right: 1%;
        margin-top: 6%;
    }
}

/* Large screens */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .main-content {
        margin-left: 0;
        margin-right: 1%;
        margin-top: 6%;
    }
}

/* Extra large screens */
@media screen and (min-width: 1200px) {
    .main-content {
        margin-left: 16%;
        margin-right: 1%;
        margin-top: 6%;
    }
}