<!-- <p-button 
    [icon]="isDarkMode ? 'pi pi-moon' : 'pi pi-sun'"
    (onClick)="toggleTheme()">
</p-button>
<a [routerLink]="['register']">Register</a>
<a [routerLink]="['']">Products</a>
<router-outlet></router-outlet> -->
 <div class="layout-wrapper flex">
 
  <div class="mt-8 mx-8 content-area flex flex-column flex-grow-1 w-full">
    <app-header></app-header>
    <div class="w-full">
      <div class="main-content p-0">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> 
<!-- <app-program-create></app-program-create> -->
 <!-- src/app/app.component.html -->
<!-- src/app/app.component.html -->
