<!-- <p-button 
    [icon]="isDarkMode ? 'pi pi-moon' : 'pi pi-sun'"
    (onClick)="toggleTheme()">
</p-button>
<a [routerLink]="['register']">Register</a>
<a [routerLink]="['']">Products</a>
<router-outlet></router-outlet> -->
 <div class="">
 
  <div class="content-area">
    <app-header></app-header>
    <div class="">
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> 
<!-- <app-program-create></app-program-create> -->
 <!-- src/app/app.component.html -->
<!-- src/app/app.component.html -->
