<div>
    <div class="flex justify-content-center">
        <div class="w-full">
            <div *ngIf="loading" class="flex justify-content-center">
                <p-progressSpinner
                    styleClass="w-4rem h-4rem"
                    strokeWidth="4"
                    fill="var(--surface-ground)"
                    animationDuration=".5s">
                </p-progressSpinner>
            </div>

            <div *ngIf="!loading" class="grid">
                <div *ngFor="let program of programs" 
                     class="col-12 sm:col-6 lg:col-3 p-2">
                    <app-program-card [program]="program">
                    </app-program-card>
                </div>
            </div>
        </div>
    </div>
    <div class="card flex justify-content-center">
        <p-paginator
            [first]="first"
            [rows]="rows"
            [totalRecords]="totalRecords"
            [rowsPerPageOptions]="[3, 10, 20, 30]"
            (onPageChange)="onPageChange($any($event))"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} programs"
        ></p-paginator>
    </div>
</div>