<p-fieldset legend="Personal information" class="w-full">
    <table class="w-full">
        <tbody>
            <tr class="flex justify-content-between my-4 lg:mx-8 md:mx-4 border-bottom-1 border-gray-200">
                <th class="text-xl">First name:</th>
                <td class="text-xl">admin</td>
            </tr>
            <tr class="flex justify-content-between my-4 lg:mx-8 md:mx-4 border-bottom-1 border-gray-200">
                <th class="text-xl">Last name:</th>
                <td class="text-xl">adminkovic</td>
            </tr>
            <tr class="flex justify-content-between my-4 lg:mx-8 md:mx-4 border-bottom-1 border-gray-200">
                <th class="text-xl">E-mail:</th>
                <td class="text-xl">admin et mail.com</td>
            </tr>
        </tbody>    
    </table>
    <div class="flex justify-content-end">
        <p-button [link]="" class="lg:mx-8 md:mx-4">Edit personal information</p-button>
    </div>
</p-fieldset>