<div class="flex justify-content-center pb-3 mb-3">
    <h1 style="text-align: center;">Programs created by {{this.username}}</h1>
</div>
<div class="flex justify-content-center">
    <p-inputgroup styleClass="w-full lg:w-8 mt-3 mb-6">
        <input pInputText placeholder="Search" id="searchBar" #searchInput (keyup.enter)="searchMyPrograms(searchInput.value)"/>
        <p-inputgroup-addon>
            <p-button icon="pi pi-search" severity="secondary" variant="text" (onClick)="searchMyPrograms(searchInput.value)"/>
        </p-inputgroup-addon>
    </p-inputgroup>
</div>
<app-program-list [programsType]="'my-programs'"></app-program-list>