<div class="h-full w-full">
    <p-card styleClass="h-full border-round-lg cursor-pointer" (click)="navigateToDetails()">
      <ng-template pTemplate="header">
        <img [src]="program.id ? apiUrl+'/image' + '/'+ program.id : 'dinja.jpg'"
             alt="{{program.name}}"
             class="w-full h-12rem border-round-top-lg"/>
      </ng-template>
     
      <div class="flex flex-column gap-3">
        <div class="text-xl font-bold text-overflow-ellipsis overflow-hidden white-space-nowrap">
          {{program.name}}
        </div>
         
        <div class="flex align-items-center gap-2">
          <i class="pi pi-user"></i>
          <span class="text-overflow-ellipsis overflow-hidden white-space-nowrap">
            {{program.creatorUsername}}
          </span>
        </div>
        <div class="flex align-items-center gap-2">
            <i class="pi pi-users"></i>
            <span class="text-overflow-ellipsis overflow-hidden white-space-nowrap">
                {{program.followersNumber}} followers
            </span>
          </div>
          <div class="flex align-items-center gap-2">
            <p-rating [ngModel]="program.rating" [readonly]="true" [readonly]="true"></p-rating>
            <span>{{program.rating}}</span>
          </div>
      </div>
     
      <ng-template pTemplate="footer">
        <div class="flex justify-content-between">
          <p-button label="Start program" (click)="startProgram($event)" *ngIf="programType=='not-started'"/>
          <p-button label="Start next workout" (click)="startWorkout($event)" *ngIf="programType=='started'"/>
          <p-button label="See History" (click)="seeHistory($event)" *ngIf="programType=='started'"/>


        </div>
      </ng-template>
    </p-card>
  </div>