<div class="h-full">
    <p-card styleClass="h-full border-round-lg cursor-pointer" (click)="navigateToDetails()">
      <ng-template pTemplate="header">
        <img [src]="program.id ? apiUrl+ '/'+ program.id + '/image' : 'dinja.jpg'"
             alt="{{program.name}}"
             class="w-full h-12rem border-round-top-lg"/>
      </ng-template>
     
      <div class="flex flex-column gap-3">
        <div class="text-xl font-bold text-overflow-ellipsis overflow-hidden white-space-nowrap">
          {{program.name}}
        </div>
         
        <div class="flex align-items-center gap-2">
          <i class="pi pi-user"></i>
          <span class="text-overflow-ellipsis overflow-hidden white-space-nowrap">
            {{program.creatorUsername}}
          </span>
        </div>
        <div class="flex align-items-center gap-2">
            <i class="pi pi-users"></i>
            <span class="text-overflow-ellipsis overflow-hidden white-space-nowrap">
                {{program.followersNumber}} followers
            </span>
          </div>
          <div class="flex align-items-center gap-2">
            <p-rating [ngModel]="program.rating" [readonly]="true" [readonly]="true"></p-rating>
            <span>{{program.rating}}</span>
          </div>
      </div>
     
      <ng-template pTemplate="footer">
        <div class="flex justify-content-between">
          <p-button
          *ngIf="getCurrentRoute()!='/started-programs'"
            [icon]="iconClass"
            [rounded]="true"
            (click)="toggleLike($event)"
            [label]="followTextClass"
            [severity]="followSeverity">
          </p-button>
          <p-button label="start program" (click)="startProgram($event)" *ngIf="getCurrentRoute()!='/started-programs'"/>
          <p-button label="start next workout" (click)="startWorkout($event)" *ngIf="getCurrentRoute()=='/started-programs'"/>

        </div>
      </ng-template>
    </p-card>
  </div>